
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}






/* header section--nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 100px;

}

.nav-title{
    font-weight: 800;
    font-size: 34px;
    color: #4E47FF;
}

nav a{
    list-style: none;
    text-decoration: none;
    font-size: 18px;
}

/* button style */
.btn-primary{
    background-color:#4E47FF;
    font-weight: bold;
    color: white;
    padding: 18px 30px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
}
.sec-btn{
       background-color:#4E47FF;
    font-weight:500px;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    margin-bottom: 60px;
    border: none;
    
    
}
 
/* banner-text-style */
.banner{
    text-align: center;
    margin-top: 220px;
    
  
}

/* back-ground--image */

.bg-image{
    background-image: url('/Assets/Hero-bg.png');
    
}
/* main-section-1 */

.section-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 150px;
    gap: 50px;
}
.content-description{
    color:#252432 ;
    font-size:smaller;
}

/* image-design */
.img-dsn{
 border-radius: 20px;
 margin-top: 20px;

}
.main-part{
    display: flex;
    gap: 5px;
    
}
/* section-2 */

.main-all-part{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}
.section-2{
    text-align: center;
    align-items: center;
     background-color: #EEF0FF;
    padding: 50px 0; 
    border-radius: 30px; 
    margin: 30px 250px 30px 250px;
}

.content-title {
  font-size: 48px;  
  color: #3F3FFF;
}

.card-container{
    display: flex;
    gap: 24px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}
    

    .section-title{
        text-align: center;
    }
    

    .review-card{
        background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  padding: 20px;
  width: 300px;
    }
    .review-title{
        font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
    }
   .review-text {
  font-size: 15px;
  color: #333;
  margin-bottom: 15px;
}
.reviewer {
  display: flex;
  align-items: center;
  gap: 10px;
   width: 40px;
  height: 40px;
  border-radius: 50%;
}
.review-date {
  font-size: 13px;
  color: gray;
}
.reviewer-name{
    color: darkgray;
}


/* section-------4 --------------------------------------------------- */

.section-4-part-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 5px 10px 10px 10px;
  background-color: #fafafa ;
  margin: 0 200px;
  border-radius: 34px;
  
}
.free-btn {
  margin-top: 20px;
}
.img-3{
    border-radius: 25px;
    margin-bottom: 30px;
}
.s4-description{
    color: rgb(80, 75, 75);
}

/* footer--section-stylle */

footer{
    padding: 130px 230px ;
    display: flex;
    gap: 150px;
    
}
.footer-column{
    width: 50%;
}
input[type="text"], footer input[type="email"], footer textarea  {
    height: 35px;
    border-radius: 5px;
    background-color: white;
    color: black;
    display: block;
    width: 100%;
    font-size: 16px;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
    

}
.footer-main{
    background-color: #fdfdfd;
    margin: 50px;
    border-radius: 100px;
}
.section-title-1{
    font-size: 35px;
    color:#4E47FF;
    
}
.section-title-2{
    font-size: 20px;
    color: #918ef6;
}

ul{
     display: flex;
    justify-content: center; 
    flex-wrap: wrap; 
    padding: 0;
    margin: 0;

}

ul li {
    list-style: none;
    margin: 0 10px;
   
}
 ul li a {
    text-decoration: none;
    color:darkgrey;
}
.d-2{
    text-decoration: none;
    color: rgb(113, 113, 113);


}
.last-section{
    text-align: center;
}

.logo-title{
    color: #3F3FFF;
}